<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Items</title>

</head>
<body>
      <form>
        <table>
          <tr>
            <td><h3>Unit</h3></td>
            <td><h3>Details</h3></td>
          </tr>
          <tr>
            <td>Item Name</td>
            <td>{{item_name}}</td>
          </tr>
          <tr>
            <td>Item ID</td>
            <td># {{item_id}}</td>
          </tr>
          <tr>
            <td>Quantity</td>
            <td>{{quantity}} units</td>
          </tr>
          <tr>
            <td>Price</td>
            <td>R {{price}}</td>
          </tr>
        </table>
      </form>
</body>
</html>